<%- include("header"); -%>
<h1 class="about">About</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime id maiores
  consectetur pariatur sapiente animi explicabo facere tenetur, iste in
  suscipit, minima modi nostrum debitis aliquam vero adipisci molestias
  obcaecati! Sed totam placeat natus ab eaque obcaecati et, fugiat odit est,
  voluptate vel, at nam itaque? Esse similique dignissimos suscipit ratione
  architecto distinctio. Ut aut assumenda, est non libero porro! Adipisci rerum
  quo, minus laudantium exercitationem eius magnam libero autem saepe illo
  facilis, suscipit laborum dolore repellat reprehenderit amet culpa et sunt.
  Sint accusantium nam et corrupti consequuntur incidunt iste! Ipsum adipisci
  incidunt a provident repellat placeat aut delectus ducimus, nam at eum, alias
  voluptas harum. Rerum nam reiciendis sapiente neque necessitatibus.
  Accusantium unde delectus ipsum, odit voluptates veritatis enim. Aut impedit
  unde molestiae nemo distinctio nostrum exercitationem, voluptatum fugiat
  laboriosam quod aperiam sequi ullam, magni, tempore cupiditate dolore!
  Quibusdam, aperiam eveniet! Excepturi culpa numquam debitis incidunt quam qui
  ad.
</p>
<%- include("footer"); -%>
